@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item dropdown">
        <a class="nav-link page-scroll dropdown-toggle" data-toggle="dropdown" href="">@User.Identity.Name</a>

        <div class="dropdown-menu submenu">
            <a href="accounts.html" class="dropdown-item">
                <i class="la la-user"></i> حساب کاربری
            </a>
            <a href="history.html" class="dropdown-item">
                <i class="la la-book"></i> تاریخچه
            </a>
            <a href="settings.html" class="dropdown-item">
                <i class="la la-cog"></i> تنظیمات
            </a>
            <a href="lock.html" class="dropdown-item">
                <i class="la la-lock"></i> قفل
            </a>
            <a href="/logout" class="dropdown-item logout">
                <i class="la la-sign-out"></i> خروج
            </a>
        </div>
    </li>
}
else
{

    <li class="nav-item user">
        <span class="thumb"><i class="la la-user"></i></span>
        <a href="/login">ورود مدیریت</a>
    </li>

}

