 <!--header section start-->
<header class="header">
    <!--start navbar-->
    <nav class="navbar navbar-expand-lg fixed-top bg-transparent">
        <div class="container">
            <a class="navbar-brand page-scroll" href="#about">
                <img src="/Content/img/Arad_Icon.ico" width="60" alt="logo"
                     class="img-fluid">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="ti-menu"></span>
            </button>

            <div class="collapse navbar-collapse main-menu" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll" href="#" id="navbarDropdownHome" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            خانه
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#about">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#features">امکانات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#pricing">قیمت ها</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#screenshots">اسکرین شات</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll dropdown-toggle" href="#" id="navbarDropdownPage" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            صفحات
                        </a>
                        <div class="dropdown-menu submenu" aria-labelledby="navbarDropdownPage">
                            <a class="dropdown-item" href="basic-login.html">صفحه ورود 1</a>
                            <a class="dropdown-item" href="login.html">صفحه ورود 2</a>
                            <a class="dropdown-item" href="basic-sign-up.html">صفحه ثبت نام 1</a>
                            <a class="dropdown-item" href="sign-up.html">صفحه ثبت نام  2</a>
                            <a class="dropdown-item" href="password-reset.html">بازیابی رمز</a>
                            <a class="dropdown-item" href="change-password.html">تغییر رمز</a>
                            <a class="dropdown-item" href="download.html">صفحه دانلود</a>
                            <a class="dropdown-item" href="review.html">صفحه نظرات</a>
                            <a class="dropdown-item" href="faq.html">سوالات متداول</a>
                            <a class="dropdown-item" href="404.html">صفحه 404</a>
                            <a class="dropdown-item" href="coming-soon.html">بزودی</a>
                            <a class="dropdown-item" href="thank-you.html">تشکر</a>
                            <a class="dropdown-item" href="team.html">صفحه تیم <span class="badge badge-danger badge-pill ml-2">جدید</span></a>
                            <a class="dropdown-item" href="team-single.html">تیم تک <span class="badge badge-danger badge-pill ml-2">جدید</span></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link page-scroll dropdown-toggle" href="#" id="navbarBlogPage" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            وبلاگ <span class="custom-nav-badge badge badge-danger badge-pill">جدید</span>
                        </a>

                        <div class="dropdown-menu submenu" aria-labelledby="navbarBlogPage">
                            <a class="dropdown-item" href="blog-default.html">وبلاگ شبکه ای</a>
                            <a class="dropdown-item" href="blog-left-sidebar.html">سایدبار چپ</a>
                            <a class="dropdown-item" href="blog-single-right-sidebar.html">سایدبار راست</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#team">تیم</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="#contact">تماس</a>
                    </li>
                    <!-- User Sign In/Sign Up Starts -->
                    @Html.Partial("_logedinuser")
                    <!-- User Sign In/Sign Up Ends -->
                </ul>
             
            </div>
            
            <div class="navbar-brand page-scroll" href="#about">
              
            </div>
        </div>
    </nav>
    <!--end navbar-->
</header>
<!--header section end-->