@model Persistence.Entities.ErrorLog

<div class="card">
    <div class="card-body">
        <h3 class=" text-center">آیا از حذف این خطا اطمینان دارید ؟</h3>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-outline-danger" /> <button type="button" class="btn btn-outline-primary" data-dismiss="modal">بستن</button>
            </div>
        }

        
    </div>
</div>
   
