
<!--body content wrap start-->
    <div class="main">

        <!--hero section start-->
        <section class="hero-section ptb-100 background-img full-screen"
                 style="background: url('/Content/img/app-hero-bg.jpg')no-repeat center center / cover">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-9 col-lg-7">
                        <div class="error-content text-center text-white">
                            <div class="notfound-404"><h1 class="text-white">404</h1></div>
                            <h3 class="text-white">با عرض پوزش ، مشکلی پیش آمد</h3>
                            <p>
                                صفحه ای که به دنبال آن هستید ممکن است در صورت تغییر نام یا موقتاً حذف شده باشد
                                غیر قابل دسترسی.
                            </p><a class="btn app-store-btn" href="/">به صفحه اصلی بروید</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section end-->

    </div>

